$base-backgroundColor: #f3f4f5;
$fontColor: #344767;
$cardColor: #ffffff;
$cardRadius: 8px;
$radius: 1rem;
$cardShadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
$paraColor: #8893a7;
$navLogoColor: #cb0c9f;
$themeColor: linear-gradient(310deg, #7928ca, #ff0080);
$textColor: #67748E;
$profitColor: #82d616;
$lossColor: #ea0606;
$cardHeadingColor: #67748e;
